In [1]:
import pandas as pd

authorities = pd.read_csv('data/contractingAuthorities_list(15.09.22).csv', sep=';')

authorities

,contractingAuthorityId,name,CUI
0,1,ORASUL LUDUS (Primaria Orasului Ludus),5669317
1,2,"UNIVERSITATEA ""LUCIAN BLAGA"" DIN SIBIU",4480173
2,3,DIRECTIA SANITARA VETERINARA SI PENTRU SIGURAN...,4231652
3,4,COMUNA HLIPICENI (PRIMARIA HLIPICENI),3373365
4,5,R.A. ROMATSA - ADMINISTRATIA ROMANA A SERVICII...,R1589932
...,...,...,...
47970,47976,COMUNA BUDACU DE JOS - ACTIVITATE ECONOMICA,RO13414802
47971,47977,DIRECTIA JUDETEANA PENTRU CULTURA BUZAU,3724342
47972,47978,Asociatia Clubul Sportiv ENDURANCH,39459158
47973,47979,SPP12/CV2 - AGROCOLCEAG,43768593
47974,47980,"LICEUL TEORETIC ""CORIOLAN BREDICEANU""",4269258

In [2]:
cui_authorities = authorities.loc[authorities["CUI"].notnull()]

cui_authorities

,contractingAuthorityId,name,CUI
0,1,ORASUL LUDUS (Primaria Orasului Ludus),5669317
1,2,"UNIVERSITATEA ""LUCIAN BLAGA"" DIN SIBIU",4480173
2,3,DIRECTIA SANITARA VETERINARA SI PENTRU SIGURAN...,4231652
3,4,COMUNA HLIPICENI (PRIMARIA HLIPICENI),3373365
4,5,R.A. ROMATSA - ADMINISTRATIA ROMANA A SERVICII...,R1589932
...,...,...,...
47970,47976,COMUNA BUDACU DE JOS - ACTIVITATE ECONOMICA,RO13414802
47971,47977,DIRECTIA JUDETEANA PENTRU CULTURA BUZAU,3724342
47972,47978,Asociatia Clubul Sportiv ENDURANCH,39459158
47973,47979,SPP12/CV2 - AGROCOLCEAG,43768593
47974,47980,"LICEUL TEORETIC ""CORIOLAN BREDICEANU""",4269258

In [3]:
vat_authorities = cui_authorities.loc[cui_authorities['CUI'].str.contains('RO', case=False)]

vat_authorities

,contractingAuthorityId,name,CUI
15,16,ELECTROCENTRALE GALATI S.A.,RO16044852
25,26,REGIA AUTONOMA PENTRU ACTIVITATI NUCLEARE,RO10882752
32,33,HIDROSERV-SLATINA S.A.,RO14949758
37,38,REPARATII SI SERVICII TERMOSERV CRAIOVA S.A.,RO15376918
55,56,Electrocentrale Bucuresti S.A.,RO15189596
...,...,...,...
47949,47955,Fundatia MARe,RO33753358
47950,47956,Societatea Nationala de Gaze Naturale ROMGAZ S...,RO14056826
47960,47966,Societatea Nationala de Gaze Naturale Romgaz S...,RO14056826
47966,47972,"UNIVERSITATEA ""STEFAN CEL MARE"" Suceava",RO37821331
47970,47976,COMUNA BUDACU DE JOS - ACTIVITATE ECONOMICA,RO13414802