In [253]:
import pandas as pd

organizations = pd.read_csv('data/organizations_ID_list(15.09.22).csv', sep=';')

organizations

        organizationId                                      name         CUI
0                    1  Sc Electromont Construct SRL Cluj Napoca   R12112350
1                    2                          SC IFA GROUP SRL    16961235
2                    3                     SC SARTOTOM IMPEX SRL    RO378562
3                    4                        SC LABORSISTEM SRL    15417287
4                    5                 SC GAS ALARM SERVICES SRL   R14607429
...                ...                                       ...         ...
289468          388116              DANI SER ADMINISTRARE S.R.L.    25386838
289469          388117                           BURZO-CONSTRUCT     2199415
289470          388118             MK & GE CONSTRUCT 2020 S.R.L.    42150976
289471          388119                        ADVICE GROUP MEDIA  RO15362904
289472          388120                          TRANS-NICOLAESCU  RO14426570

[289473 rows x 3 columns]

In [254]:
search_for = ["SRL", "S.R.L."]

srl_organizations = organizations.loc[organizations['name'].str.contains('|'.join(search_for), case=False)]

srl_organizations

        organizationId                                      name        CUI
0                    1  Sc Electromont Construct SRL Cluj Napoca  R12112350
1                    2                          SC IFA GROUP SRL   16961235
2                    3                     SC SARTOTOM IMPEX SRL   RO378562
3                    4                        SC LABORSISTEM SRL   15417287
4                    5                 SC GAS ALARM SERVICES SRL  R14607429
...                ...                                       ...        ...
289453          388101                BAUTEHNIK HOME 2022 S.R.L.   45714891
289455          388103                       SAFESIDE CCR S.R.L.   42526435
289465          388113                          GIA URBAN S.R.L.   46236892
289468          388116              DANI SER ADMINISTRARE S.R.L.   25386838
289470          388118             MK & GE CONSTRUCT 2020 S.R.L.   42150976

[168860 rows x 3 columns]

In [255]:
percentage_srl_organizations = (len(srl_organizations) / len(organizations)) * 100

percentage_srl_organizations

58.33359242485482

In [256]:
cui_organizations = organizations.loc[organizations["CUI"].notnull()]

cui_organizations

        organizationId                                      name         CUI
0                    1  Sc Electromont Construct SRL Cluj Napoca   R12112350
1                    2                          SC IFA GROUP SRL    16961235
2                    3                     SC SARTOTOM IMPEX SRL    RO378562
3                    4                        SC LABORSISTEM SRL    15417287
4                    5                 SC GAS ALARM SERVICES SRL   R14607429
...                ...                                       ...         ...
289468          388116              DANI SER ADMINISTRARE S.R.L.    25386838
289469          388117                           BURZO-CONSTRUCT     2199415
289470          388118             MK & GE CONSTRUCT 2020 S.R.L.    42150976
289471          388119                        ADVICE GROUP MEDIA  RO15362904
289472          388120                          TRANS-NICOLAESCU  RO14426570

[238167 rows x 3 columns]

In [257]:
vat_organizations = cui_organizations.loc[cui_organizations['CUI'].str.contains('RO', case=False)]

vat_organizations

        organizationId                        name         CUI
2                    3       SC SARTOTOM IMPEX SRL    RO378562
8                    9     SC Cipris Construct SRL  RO19110136
9                   10                SC ROMVAC SA    RO482384
11                  12  ALIBRIS DISTRIBUTIE S.R.L.  RO15525580
12                  13  RO BO IMPORT EXPORT S.R.L.   RO3013617
...                ...                         ...         ...
289464          388112                      UNIGAZ   RO5247363
289466          388114       INOVA TEAM CONSULTING  RO45871543
289467          388115                      DENSIT   RO6786749
289471          388119          ADVICE GROUP MEDIA  RO15362904
289472          388120            TRANS-NICOLAESCU  RO14426570

[110799 rows x 3 columns]

In [258]:
percentage_vat_organizations = (len(vat_organizations) / len(organizations)) * 100

percentage_vat_organizations

38.27610865262045

In [259]:
def validate_cif(cif):
    cif = str(cif)
    cif = cif.strip()

    if not cif.isnumeric():
        if cif[0:2].upper() == "RO":
            cif = cif[2:]
            cif = cif.strip()
    if not cif.isnumeric():
        return False

    if len(cif) < 2 or len(cif) > 10:
        return False

    control = 753217532
    cif = int(cif)
    c1 = cif % 10
    cif = int(cif / 10)

    t = 0
    while cif > 0:
        t += (cif % 10) * (control % 10)
        cif = int(cif / 10)
        control = int(control / 10)

    c2 = t * 10 % 11

    if c2 == 10:
        c2 = 0

    return c1 == c2

In [260]:
valid_cif_organizations = cui_organizations.loc[cui_organizations.apply(lambda row: validate_cif(row['CUI']), axis = 1)]

valid_cif_organizations

        organizationId                           name         CUI
1                    2               SC IFA GROUP SRL    16961235
2                    3          SC SARTOTOM IMPEX SRL    RO378562
3                    4             SC LABORSISTEM SRL    15417287
5                    6        SC MIND ENGINEERING SRL    14976981
6                    7               SC COMLIBRIS SRL     2665191
...                ...                            ...         ...
289468          388116   DANI SER ADMINISTRARE S.R.L.    25386838
289469          388117                BURZO-CONSTRUCT     2199415
289470          388118  MK & GE CONSTRUCT 2020 S.R.L.    42150976
289471          388119             ADVICE GROUP MEDIA  RO15362904
289472          388120               TRANS-NICOLAESCU  RO14426570

[230770 rows x 3 columns]

In [261]:
percentage_valid_cif_organizations = (len(valid_cif_organizations) / len(organizations)) * 100

percentage_valid_cif_organizations

79.720733885371